.findPwMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-size: cover;
}

.findPwDiv {
    width: 500px;
    padding: 30px;
    background-color:#efe8d2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.findPwDiv h1 {
    color: #076f5a;
    font-size: 2rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findPwFormDiv {
    margin-bottom: 20px;
}

.findPwInputDiv input {
    width: 500px;
    height: 40px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
}

.findPwChangeBtn {
    width: 500px;
    height: 40px;
    background-color: #228b22;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.findPwChangeBtn:hover {
    background-color: #1a6f17;
}

.findPwDiv label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: bold;
    color: #076f5a;
}

.findPwChangeInputDiv {
    margin-top: 20px;
}

.findPwChangeInputDiv input {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
}

.findPwChangeInputDiv button {
    width: 100%;
    height: 40px;
    background-color: #228b22;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.findPwChangeInputDiv button:hover {
    background-color: #1a6f17;
}
