.title_layout {
    margin-left: 20px;
    line-height: 100px;
}

.payment.section_title  {
    font-size: 50px;
    line-height: 70px;
    color: white;
    font-weight: 700;
}

.payment.section_description {
    font-size: 20px;
    line-height: 50px;
    letter-spacing: -.3px;
    color: #999;
    white-space: nowrap;
}
